body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

header {
  background-color: rgb(31, 41, 55);
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 0;
}

#about-me,
#about-app {
  padding: 20px;
  margin: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}
